<h2>Danh sách bàn</h2>

<!-- Biểu mẫu tìm kiếm bàn -->
<div class="search-table-form">
  <input type="text" [(ngModel)]="searchSoban" placeholder="Nhập số bàn cần tìm">
  <button (click)="searchTable()" style="background-color: blue; color: white;">Tìm Bàn</button>
</div>

<!-- Danh sách bàn -->
<table class="table">
  <thead>
    <tr>
      <th>Số Bàn</th>
      <th>Khu Vực</th>
      <th>Hành Động</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let table of foundTables">
      <td>{{ table.soban }}</td>
      <td>{{ table.khuvuc }}</td>
      <td>
        <button (click)="deleteTable(table.id)" style="background-color: red; color: white;" class="btn-delete">Xóa</button>
        <button (click)="editMode = true; setEditedTable(table)" class="btn-edit">Sửa</button>
      </td>
    </tr>
  </tbody>
</table>
<div *ngIf="foundTables.length === 0 && searchSoban">
  Không tìm thấy bàn với số bàn: {{ searchSoban }}
</div>

<!-- Nút "Thêm Bàn" -->
<button (click)="showAddForm = !showAddForm" style="background-color: #4CAF50; color: white;">Thêm Bàn</button>

<!-- Biểu mẫu thêm bàn mới -->
<form *ngIf="showAddForm" (submit)="addTable()" style="position: absolute; top: 50px; left: 700px;">
  <div class="form-group">
    <label for="soban">Số Bàn:</label>
    <input type="text" id="soban" name="soban" [(ngModel)]="newTable.soban" required class="form-control">
  </div>
  <div class="form-group">
    <label for="khuvuc">Khu Vực:</label>
    <select id="khuvuc" name="khuvuc" [(ngModel)]="newTable.khuvuc" required class="form-control">
      <option value="Trong nhà">Trong nhà</option>
      <option value="Hồ cá">Hồ cá</option>
      <option value="Ngoài trời">Ngoài trời</option>
    </select>
  </div>  
  <button type="submit" style="background-color: #4CAF50; color: white;">Thêm Bàn</button>
</form>


<!-- Biểu mẫu sửa thông tin bàn -->
<form *ngIf="editMode" (submit)="updateTable()" class="edit-table-form" style="position: absolute; top: 50px; left: 700px;">
  <div class="form-group">
    <label for="edit-soban">Số Bàn:</label>
    <input type="text" id="edit-soban" name="edit-soban" [(ngModel)]="editedTable.soban" required class="form-control">
  </div>
  <div class="form-group">
    <label for="khuvuc">Khu Vực:</label>
    <select id="khuvuc" name="khuvuc" [(ngModel)]="editedTable.khuvuc" required class="form-control">
      <option value="Trong nhà">Trong nhà</option>
      <option value="Hồ cá">Hồ cá</option>
      <option value="Ngoài trời">Ngoài trời</option>
    </select>
  </div>  
  <button type="submit" style="background-color: #4CAF50; color: white;">Cập Nhật</button>
  <button type="button" (click)="cancelEdit()" style="background-color: red; color: white;">Hủy</button>
</form>

