/* CSS cho bảng */
.table {
    width: 100%;
    border-collapse: collapse;
  }
  
  /* CSS cho các ô */
  th, td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  /* CSS cho hàng chẵn */
  tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  /* CSS cho tiêu đề */
  th {
    background-color: blue;
    color: white;
  }
  .form-container {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  .form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    font-size: 14px;
  }
  
  .form-control {
    width: 100%;
    padding: 8px;
    font-size: 14px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    transition: border-color 0.3s;
  }
  
  .form-control:focus {
    border-color: #4CAF50;
    outline: none;
  }
  .btn-delete {
    background-color: #f44336; /* Màu đỏ */
    color: white; /* Chữ màu trắng */
    border: none;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 2px 1px;
    cursor: pointer;
    border-radius: 4px;
  }
  
  .btn-delete:hover {
    background-color: #d32f2f; /* Màu đỏ đậm hơn khi hover */
  }
  
  .btn-edit {
    background-color: rgb(255, 238, 0); /* Màu đỏ */
    color: white; /* Chữ màu trắng */
    border: none;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 2px 1px;
    cursor: pointer;
    border-radius: 4px;
  }