<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom CSS -->
</head>
<body>
    <div class="login-container">
        <label for="DN" id="logo" class="text-center d-block mb-4" style="font-size: 1.5rem; font-weight: bold;">Đăng nhập</label>
        <div class="input-container">
          <div class="box-id">
            <label for="in-user">Tên Đăng Nhập</label>
            <input type="text" class="form-control" placeholder="Nhập tên tài khoản" id="in-user" [(ngModel)]="username" name="username">
          </div>
          <div class="box-pass">
            <label for="in-pass">Mật khẩu</label>
            <input type="password" class="form-control" placeholder="Nhập mật khẩu" id="in-pass" [(ngModel)]="password" name="password">
          </div>
          <div class="box-pass">
            <label for="in-role">Vai trò</label>
            <select class="form-control" id="in-role" [(ngModel)]="vaiTro" name="role">
              <option value="Admin">Admin</option>
              <option value="Nhân viên">Nhân viên</option>
              <!-- Thêm các tùy chọn khác nếu cần -->
            </select>
          </div>
          <button type="submit" (click)="onLogin()" class="btn btn-primary btn-block">Đăng nhập</button>
          <div class="text-center mt-3">
            <a routerLink="/dangky" class="btn btn-secondary btn-block">Bạn chưa có tài khoản? Đăng ký ngay</a>
        </div>
        </div>
        <div class="message">{{message}}</div>
        
    </div>
    <!-- Bootstrap JS and dependencies -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
