<h2>Danh sách bill</h2>

<div class="hoadon">
  <input type="text" placeholder="Nhập vào mã hóa đơn" [(ngModel)]="billId">
  <button (click)="getBillById()" style="background-color: blue; color: white;">Tìm hóa đơn</button>
</div>
<div>
  <table>
    <thead>
      <tr>
        <th>Bill ID</th>
        <th>Ngày lập</th>
        <th>Số bàn</th>
        <th>Items</th>
        <th>Tổng tiền</th>
        <th>Tiền vốn</th>
        <th>Tiền lời</th>
        <th>Hình thức thanh toán</th>
        <th>Trạng thái</th>
        <th>Hành động</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let bill of bills">
        <td>{{ bill.bill_id }}</td>
        <td>{{ bill.date }}</td>
        <td>{{ bill.table_number }}</td>
        <td>
          <ul>
            <li *ngFor="let item of bill.items">
              {{ item.name }} - {{ item.quantity }} x {{ item.price_per_unit | currency:'VND' }}
            </li>
          </ul>
        </td>
        <td>{{ calculateTotalAmount(bill.items) | currency:'VND' }}</td>
        <td>{{calculateTotalCost(bill.items)| currency:'VND'}}</td>
        <td>{{ calculateProfit(bill.items) | currency:'VND' }}</td>
        <td>{{ bill.payment_method }}</td>
        <td>{{ bill.trangthai ? 'Đã thanh toán' : 'Chưa thanh toán' }}</td>
        <td class="center-align">
          <button class="btn-delete" (click)="onDeleteBill(bill.id)">Xóa</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
