<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bootstrap Sidebar</title>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <!-- Sidebar -->
    <div class="sidebar d-flex flex-column flex-shrink-0 p-3">
        <a href="#" class="navbar-brand" align-center>Menu</a>
        <ul class="nav nav-pills flex-column mb-auto">
            <li>
                <a href="#" class="nav-link" routerLink="/trangchu/taikhoan" routerLinkActive="active">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person" viewBox="0 0 16 16">
                        <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 1a5 5 0 1 1 0-10 5 5 0 0 1 0 10zm5-5a1 1 0 0 1 1 1v4a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V5a1 1 0 0 1 1-1h10z"/>
                    </svg>
                    Tài khoản
                </a>
            </li>
            <li>
                <a href="#" class="nav-link" routerLink="/trangchu/drink" routerLinkActive="active">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cup" viewBox="0 0 16 16">
                        <path d="M5 1h6v2H5V1z"/>
                        <path fill-rule="evenodd" d="M3.5 4h9a1 1 0 0 1 .978.791l1.5 6A1 1 0 0 1 14 12H2a1 1 0 0 1-.978-1.209l1.5-6A1 1 0 0 1 3.5 4zm1 1l-1.5 6h9L11.5 5h-7z"/>
                        <path d="M9 5H7v1h2V5z"/>
                    </svg>
                    Đồ uống
                </a>
            </li>
            <li>
                <a href="#" class="nav-link" routerLink="/trangchu/hoadon" routerLinkActive="active">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-receipt" viewBox="0 0 16 16">
                    <path d="M8 1a.5.5 0 0 1 .5.5V2h5a.5.5 0 0 1 .5.5v13a.5.5 0 0 1-.752.434L8 13.118l-5.248 2.816A.5.5 0 0 1 2 15.5V2.5A.5.5 0 0 1 2.5 2h5V1.5A.5.5 0 0 1 8 1zm5.5 4a.5.5 0 0 0-.5-.5h-11a.5.5 0 0 0-.5.5V15h12V5z"/>
                  </svg>
                  Hóa đơn
                </a>
            </li>
            <!-- <li>
                <a href="#" class="nav-link" routerLink="/trangchu/thongke" routerLinkActive="active">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bar-chart" viewBox="0 0 16 16">
                        <path d="M0 0h1v15H0V0zm2 14h4V5H2v9zm6-9v9h4V5H8zm6 4v5h1V9h-1z"/>
                    </svg>
                    Thống kê
                </a>
            </li> -->
        </ul>
    </div>

    <!-- Main content -->
    <router-outlet></router-outlet>

    <!-- Bootstrap JS and dependencies (Popper.js and jQuery) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
